@supports (grid-area:auto){/*uses CSS Grid*/
  .site{
    display:grid;
    grid-template-columns: 1fr 17% 1fr 1fr 14%;  /*divide screen into 5 equal columns*/
    grid-template-rows: 45px 90px 165px 60px 340px 150px 230px 170px 260px 60px;/*sets height of rows*/
    grid-template-areas:/*designates areas to certain sections*/
    'hd hd hd hd hd'/*heading*/
    'nvm nvm nvm nvm nvm'/*nav menu*/
    'nvd nvd nvd nvd nvd'/*dashboard nav*/
    'nva nvap nvap nvap nvaa'/*announements (and paragraph) nav*/
    'sdt sdt maina maina maina'/*sidebar tasks and main announcements*/
    'sdr sdr maina maina maina'
    'sdr sdr mainc mainc mainc'/*sidebar recommendations and main contacts/customers*/
    'sdr sdr maind maind maind'/*sidebar recs and main "did you know?"*/
    'ft ft ft ft ft'/*footer section*/
    'ft2 ft2 ft2 ft2 ft2'
  }



  /*section for mini*/
#header-mini{/*establishes location in hd, color, outline color and style, text color*/
       grid-area: hd;
       background:#2290e9;
       display: flex;
       align-items: center;
       justify-content: flex-end;
       padding-right: 8%;
       /*padding:.3%;
       */
   }
   .mini-icons{
     padding-left:.2%;
       padding: 1%;

   }
   #mini{
       font-size: 14px;
       font-family: proxima-nova, sans-serif;
       color: rgb(255, 255, 255);
       font-weight: bold;
       vertical-align: middle;
       padding-bottom: 8%;
   }

  /*section for navigation*/
#nav-menu{/*establishes location in nvm, flex display for the sprites, color, diagonals in background, outline color and style, text color, padding around sprites in section*/
    grid-area: nvm;
    display:flex;
    justify-content:space-between;
    background:repeating-linear-gradient(
      135deg,
      #154771,
      #154771 3px,
      #0e3f6e 3px,
      #0e3f6e 5px
      );
      padding-left: 30%;
      padding-right:30%;
      padding-top: 1%;
      padding-bottom: 2%;

}

    /*  .blue-layer{/*still in progress, for the section under sprites with solid color and shadows, sets position and color
    position:relative;
    top:50;
    left:50;
    background-color: #144e7f;

    }*/
    /*section for dashboard*/
#nav-dashboard{/*establishes location in nvd, color, outline color and style, text color*/
      grid-area: nvd;
      background:#33cc66;
      border-radius: 8px;
      margin-top: 2%;
      margin-bottom:5%;
      margin-left: 80px;
      margin-right: 80px;
}
h1{
      color:#ffffff;
      font-size: 36px;
      font-family: myriad-pro, sans-serif;
      color: rgb(255, 255, 255);
      text-align: left;
      vertical-align: middle;
      font-weight: normal;
      padding-left: 3%;
}
#search-icon{
      position:absolute;
      z-index:2;
      right:115px;
      top:35%;
}
#searchbox-icon{
      position:absolute;
      z-index:1;
      width:22%;
      height:5%;
      right:105px;
      top:34%;
}


    /*section for announcements*/
#nav-announcements{/*establishes location in nva, color, outline color and style, text color*/
      grid-area: nva;
      background:#ffffff;
      color:#fe903f;
      font-size: 14px;
      font-family: myriad-pro, sans-serif;
      color: rgb(254, 127, 19);
      text-align: left;
      margin-left: 80px;
      outline-width: thin;
      outline-color:#e6e6e6;
      outline-style:solid;
      padding: 10%;
}
#nav-announcements-paragraph{/*establishes location in nvap, color, outline color and style, text color*/
      grid-area:nvap;
      background:#ffffff;
      font-size: 14px;
      font-family: myriad-pro, sans-serif;
      text-align:left;
      color: rgb(119, 119, 119);
      outline-style:solid;
      outline-width: thin;
      outline-color:#e6e6e6;
      padding: 2%;
      vertical-align: middle;
      padding-right: 10%;
}
#ann-arrows{
      grid-area:nvaa;
      outline-width: thin;
      outline-color:#e6e6e6;
      outline-style:solid;
      margin-right: 80px;
      padding:10%;
}
    /*section for tasks*/
#sidebar-tasks{/*establishes location in sdt, color, outline color and style, text color*/
      grid-area: sdt;
      background:#ffffff;
      outline-style:solid;
      outline-width: thin;
      outline-color:#e6e6e6;
      margin-left: 80px;
      padding-left: 1%;

      display:grid;
      grid-template-columns: 10% 50% 40%;  /*divide screen into 5 equal columns*/
      grid-template-rows: 90px 60px 60px 60px 60px;/*sets height of rows*/
      grid-template-areas:/*designates areas to certain sections*/
      'hdt hdt hdt'
      'num1 num1 num1'
      'num2 num2 num2'
      'num3 num3 num3'
      'num4 num4 num4'
}
#task-header{
      grid-area:hdt;
      display: flex;
      align-items: center;
      justify-content:space-between;
      padding-right: 5%;
      padding-left: 3%;
}



h7{
      font-size: 21px;
      font-family: myriad-pro, sans-serif;
      color: rgb(36, 152, 243);
      line-height: 1;


      /*  margin-bottom: 3px;*/
}
#num1, #num2, #num3, #num4{
      padding:2%;
      display:inline-flex;
      justify-content:space-between;
      align-items: center;
      border-bottom-style: solid;
      border-bottom-color:#eeeeee;
      border-bottom-width: thin;
}
#num1:hover, #num2:hover, #num3:hover, #num4:hover{
  filter:grayscale(100%);
   }
#num1{
      grid-area:num1;
}
#num2{
      grid-area:num2;
}
#num3{
      grid-area:num3;
}
#num4{
      grid-area:num4;
      border:none;
}
  /*section for recommendations*/
#sidebar-recs{/*establishes location in sdr, color, outline color and style, text color*/
    grid-area: sdr;
    background:#ffffff;
    outline-style:solid;
    outline-width: thin;
    outline-color:#e6e6e6;
    margin-left: 80px;
    display:grid;
    grid-template-columns: 30% 70%;  /*divide screen into 5 equal columns*/
    grid-template-rows: 1fr 18% 18% 18% 18%;/*sets height of rows*/
    grid-template-areas:/*designates areas to certain sections*/
    'hdt hdt'
    'art1 art1'
    'art2 art2'
    'art3 art3'
    'art4 art4'

}

#rec-heading{
    grid-area:hdt;
    padding-left: 3%;

}


#art1:hover, #art2:hover,#art3:hover,#art4:hover{
  filter:grayscale(100%);

}

h4:hover{
  color:black;
}
#art1, #art2, #art3, #art4{
  border-bottom-style: solid;
  border-bottom-color:#eeeeee;
  border-bottom-width: thin;

}
#art1{
    grid-area:art1;
    display:flex;
    padding: 5%;
    justify-content:flex-start;
    align-content: center;
}
#art2{
    grid-area:art2;
    display:flex;
    padding: 5%;
    justify-content:flex-start;
    align-content: center;

}
#art3{
    grid-area:art3;
    display:flex;
    padding: 5%;
    justify-content:flex-start;
    align-content: center;

}
#art4{
    grid-area:art4;
    display:flex;
    padding: 5%;
    justify-content:flex-start;
    align-content: center;

}
.art{
  padding:4%;

}

.text{
margin-left: 2%;
margin-bottom: 5%;

}
h4{
    font-size: 16px;
    font-family: myriad-pro, sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.3;
    text-align: left;
    margin-bottom: 2%;
}
h5{
    font-size: 10px;
    font-family: myriad-pro, sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.3;
    text-align: left;
}

  /*section for analytics*/
#main-analytics{/*establishes location in maina, color, outline color and style, flex display for the text input (holding place for the images), aligns in the middle, text color*/
    grid-area:maina;
    background:#ffffff;
    outline-style:solid;
    outline-width: thin;
    outline-color:#e6e6e6;
    margin-right: 80px;
    padding-left: 5%;
    padding-right: 3%;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /*divide screen into 4 equal columns*/
    grid-template-rows: 1fr 10% 30% 10% 1fr;/*sets height of rows*/
    grid-template-areas:/*designates areas to certain sections*/
    'hdt hdt hdt hdt'
    'title title drop chn'
    'grph grph grph chn'
    'grph grph grph chn'
    'fb tw fr go'
}
h2{
  font-size: 32px;
  font-family: myriad-pro, sans-serif;
  color: rgb(36, 152, 244);
  text-align: left;
  font-weight:normal;
  line-height: 1.2;
}
#hdt{
    grid-area:hdt;
  }
#a-title{
    grid-area:title;
  }
#date{
    grid-area:drop;
  }
#bargraph{
    grid-area:grph;
  }
#pies{
  grid-area:chn;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color:#dddddd;
  align-items: center;
  padding-left: 20%;
}
/*#social{
  grid-area:so;
  display: flex;
  align-items:center;
  align-content: center;
  justify-content:center;
  margin-right: 6%;


}*/
.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: absolute;
    display: inline-block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/

}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content:url('../img/graph/unchecked.png');

    /*Needed for the line-height to take effect*/
    display:inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
  width: 18px; height: 18px;


    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */

}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    width: 23px;
    height: 21px;

}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: url('../img/graph/checked.png');

}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    content: url('../img/graph/unchecked.png');

}

#fb, #tw, #fr, #go{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10px;

  }
  #fb{
    grid-area: fb;
  }
  #tw{
    grid-area: tw;
  }
  #fr{
    grid-area: fr;
  }
  #go{
    grid-area: go;
  }
  h6{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 7%;
    padding-right: 7%;
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 35%;
    margin-right: 10%;
    border-color: inherit;
    font-size: 12px;
    font-family: myriad-pro, sans-serif;
    color: rgb(255, 255, 255);
  }
  #fb-h{
    background-color: #114570;
  }
  #tw-h{
    background-color: #2298f4;
  }
  #fr-h{
    background-color: #3a599b;
  }
  #go-h{
    background-color: #31cc66;
}
  h3{
    font-size: 13px;
    font-family: myriad-pro, sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.2;
    text-align: left;
  }


  #main-contacts{/*establishes location in mainc, color, outline color and style, flex display for the text input (holding place for the images), aligns in the middle*/
    grid-area: mainc;
    background:#ffffff;
    outline-width: thin;
    outline-color:#e6e6e6;
    outline-style:solid;
    display:flex;
    justify-content: center;
    align-content: center;
    margin-right: 80px;
  }
  /*section for "did you know?"*/
  #main-did-you-know{/*establishes location in maind, color, outline color and style, text color*/
    grid-area: maind;
    background:#2498f4;
    outline-width: thin;
    outline-color:#e6e6e6;
    outline-style:solid;
    color:#ffffff;
    display:flex;
    align-items: center;
    margin-right: 80px;
    border-radius: 22px;
    border-color: white;
    border-style:solid;
    border-width:18px;
  }


  p{
    padding: 4%;
    font-size: 13px;
    font-family: myriad-pro, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;

  }





  /*section for footer*/
  #footer{/*establishes location in ft, color, outline color and style, flex display for the text input (holding place for the images), aligns in the middle*/
    grid-area:ft;
    background:#2498f4;
    outline-width: thin;
    outline-color:#e6e6e6;
    outline-style:solid;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom:20px;

  }

#see{
  margin-top: 5px;
}
#watch, #version2{
  margin-top:10px;
}
.contacts-customer:hover{
  filter:grayscale(100%);

}
#footer2{
  grid-area:ft2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 80px;
  margin-right: 80px;
  outline-width: thin;
  outline-color:#e6e6e6;
  outline-style:solid;
  border-top-width: thick;
  border-top-color:#e6e6e6;
  border-top-style:solid;
}
h8{
  font-size: 14px;
  font-family: proxima-nova,sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.2;
  text-align: left;
  border-right-width: thin;
  border-right-color:#e6e6e6;
  border-right-style:solid;
  padding-right: 5px;
  padding-left: 2px;
}
h9{
    font-size: 14px;
    font-family: proxima-nova,sans-serif;
    color: rgb(36, 152, 242);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    vertical-align: middle;

}
h10{
  font-size: 14px;
  font-family:proxima-nova,sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.2;
  text-align: right;


}




#blog{
  border-right: none;
}
#up{
  padding-left: 120px;
}
#footer2-prom{
  display:flex;
  align-items: center;
  justify-content:space-between;
  outline-width: thin;
  outline-color:#e6e6e6;
  outline-style:solid;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 50px;
}
#prom-text{
   align-items: center;
}
#footer2-log{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding-top:6px;
  padding-bottom: 6px;
  padding-right: 50px;


}
#avatar{
  padding-right: 15px;
  padding-left: 10px;
}
#footer2-soc{
  padding-top:18px;
  padding-bottom: 18px;
  outline-width: thin;
  outline-color:#e6e6e6;
  outline-style:solid;
  padding-left: 35px;
  padding-right: 30px;
}
  /*still in process, set up here for next step, for changing screen sizes*/
  @media screen and (max-width:375px){
  .site{
  grid-template-columns: 1fr;
  grid-template-rows:20px 20px 30px 150px 50px 200px 200px 200px 200px 200px 200px 200px;
  grid-template-areas:
  'hd'/*heading*/
  'nvm'/*nav menu*/
  'nvd'/*dashboard nav*/
  'nva'/*announements (and paragraph) nav*/
  'nvap'
  'nvaa'
  'sdt'/*sidebar tasks and main announcements*/
  'sdr'/*sidebar recommendations and main contacts/customers*/
  'maina'
  'mainc'
  'maind'/*sidebar recs and main "did you know?"*/
  'ft'/*footer section*/
  grid-gap:2em;


}
#header-mini{
  grid-column:hd;
  grid-row:hd;

}
#nav-menu{
  grid-column:nvm;
  grid-row:nvm;
}
#nav-dashboard{
  grid-column:nvd;
  grid-row:nvd;

}
#nav-announcements{
  grid-column:nva;
  grid-row:nva;
}
#nav-announcements-paragraph{
  grid-column:nva;
  grid-row:nva;
}
#ann-arrows{
  grid-column:nvaa;
  grid-row:nvaa;
}
#sidebar-tasks{
  grid-column:sdt;
  grid-row:sdt;
}
#sidebar-recs{
  grid-column:sdr;
  grid-row:sdr;
}
#main-analytics{
  grid-column:maina;
  grid-row:maina;
}
#main-analytics{
  grid-column:maina;
  grid-row:maina;
}
#main-contacts{
  grid-column:mainc;
  grid-row:mainc;
}
#main-did-you-know{
  grid-column:maind;
  grid-row:maind;
}
#footer{
  grid-column:ft;
  grid-row:ft;
}

/*Resources Used:

for stripes in nav bar: https://css-tricks.com/stripes-css/
for spritesheet: http://css.spritegen.com/
for Myriad Pro font: https://typekit.com/fonts/myriad/details/myriad-pro-light
for positioning: https://www.w3schools.com/cssref/pr_pos_z-index.asp
for fr:
https://alligator.io/css/css-grid-layout-fr-unit/
for links:
https://www.w3schools.com/html/html_links.asp
for dropdown:
https://www.w3schools.com/howto/howto_custom_select.asp
https://www.w3schools.com/css/css_dropdowns.asp
for grid:
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout#Fixed_and_flexible_track_sizes
for nested grids:
https://rachelandrew.co.uk/archives/2015/02/04/css-grid-layout-creating-complex-grids/
for checkbox:https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
for searchbar: https://www.w3schools.com/howto/howto_css_searchbar.asp
to change cursor:
https://www.w3schools.com/css/tryit.asp?filename=trycss_cursor
*/
