@supports (grid-area:auto){/*uses CSS Grid*/
  .site{
    display:grid;
    grid-template-columns: 1fr 17% 1fr 1fr 14%;  /*divide screen into 5 equal columns*/
    grid-template-rows: 50px 90px 180px 60px 350px 200px 200px 200px 200px;/*sets height of rows*/
    grid-template-areas:/*designates areas to certain sections*/
    'hd hd hd hd hd'/*heading*/
    'nvm nvm nvm nvm nvm'/*nav menu*/
    'nvd nvd nvd nvd nvd'/*dashboard nav*/
    'nva nvap nvap nvap nvaa'/*announements (and paragraph) nav*/
    'sdt sdt maina maina maina'/*sidebar tasks and main announcements*/
    'sdr sdr maina maina maina'
    'sdr sdr mainc mainc mainc'/*sidebar recommendations and main contacts/customers*/
    'sdr sdr maind maind maind'/*sidebar recs and main "did you know?"*/
    'ft ft ft ft ft'/*footer section*/
  }



  /*section for mini*/
  .header-mini{/*establishes location in hd, color, outline color and style, text color*/
    grid-area: hd;
    background:#2290e9;
    justify-content: flex-end;
    display: flex;
    padding:.3%;
    padding-right: 8%;


  }
  .mini-icons{
    padding: 1%;
    padding-left:.2%;
  }

  #mini{
    font-size: 14px;
    font-family: proxima-nova, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    vertical-align: middle;
    text-align: right;
    padding-right: .4%;
  }

  /*section for navigation*/
  .nav-menu{/*establishes location in nvm, flex display for the sprites, color, diagonals in background, outline color and style, text color, padding around sprites in section*/
    grid-area: nvm;
    display:flex;
    justify-content:space-between;
    background:repeating-linear-gradient(
      135deg,
      #154771,
      #154771 3px,
      #0e3f6e 3px,
      #0e3f6e 5px
      );
      padding-left: 30%;
      padding-right:30%;
      padding-top: 1%;
      padding-bottom: 2%;

    }

    /*  .blue-layer{/*still in progress, for the section under sprites with solid color and shadows, sets position and color
    position:relative;
    top:50;
    left:50;
    background-color: #144e7f;

    }*/
    /*section for dashboard*/
    #nav-dashboard{/*establishes location in nvd, color, outline color and style, text color*/
      grid-area: nvd;
      background:#33cc66;
      border-radius: 8px;
      margin-top: 2%;
      margin-bottom:5%;
      margin-left: 80px;
      margin-right: 80px;

    }
    h1{
      color:#ffffff;
      font-size: 36px;
      font-family: myriad-pro, sans-serif;
      color: rgb(255, 255, 255);
      text-align: left;
      vertical-align: middle;
      font-weight: normal;
      padding-left: 3%;
    }
    #search-icon{
      position:absolute;
      z-index:2;
      right:110px;
      top:208px;

    }
    #searchbox-icon{
      position:absolute;
      z-index:1;
      right:100px;
      top:203px;

    }


    /*section for announcements*/
    #nav-announcements{/*establishes location in nva, color, outline color and style, text color*/
      grid-area: nva;
      background:#ffffff;
      color:#fe903f;
      font-size: 14px;
      font-family: myriad-pro, sans-serif;
      color: rgb(254, 127, 19);
      text-align: left;
      margin-left: 80px;
      outline-width: thin;
      outline-color:#e6e6e6;
      outline-style:solid;
      padding: 10%;


    }
    #nav-announcements-paragraph{/*establishes location in nvap, color, outline color and style, text color*/
      grid-area:nvap;
      background:#ffffff;
      font-size: 14px;
      font-family: myriad-pro, sans-serif;
      text-align:left;
      color: rgb(119, 119, 119);
      outline-style:solid;
      outline-width: thin;
      outline-color:#e6e6e6;
      padding: 2%;
      vertical-align: middle;
      padding-right: 10%;
    }
    #ann-arrows{
      grid-area:nvaa;
      outline-width: thin;
      outline-color:#e6e6e6;
      outline-style:solid;
      margin-right: 80px;
      padding:10%;
    }
    /*section for tasks*/
    #sidebar-tasks{/*establishes location in sdt, color, outline color and style, text color*/
      grid-area: sdt;
      background:#ffffff;
      outline-style:solid;
      outline-width: thin;
      outline-color:#e6e6e6;
      margin-left: 80px;

      display:grid;
      grid-template-columns: 10% 60% 30%;  /*divide screen into 5 equal columns*/
      grid-template-rows: 90px 60px 60px 60px 60px;/*sets height of rows*/
      grid-template-areas:/*designates areas to certain sections*/
      'hdt hdt st'
      'num1 num1 num1'
      'num2 num2 num2'
      'num3 num3 num3'
      'num4 num4 num4'
    }
    #task-header{
      grid-area:hdt;

    }
    #settings2{
    grid-area: st;
    }

    #tasks-grayed{
      font-size: 21px;
      font-family: myriad-pro, sans-serif;
      color: rgb(204, 204, 204);
      line-height: 1;
      text-align: left;
      margin-bottom: 3px;
}
.tasks-list{
  font-size: 21px;
  font-family: myriad-pro, sans-serif;
  color: rgb(36, 152, 243);
  line-height: 1;
  text-align: left;

/*  margin-bottom: 3px;*/
}

#num1{
  grid-area:num1;
  display:flex;
}
#num2{
  grid-area:num2;
  display: flex;

}
#num3{
  grid-area:num3;
  display: flex;

}
#num4{
  grid-area:num4;
  display: flex;

}
.count{
  grid-area:ct;
}


    }
    /*section for recommendations*/
    #sidebar-recs{/*establishes location in sdr, color, outline color and style, text color*/
      grid-area: sdr;
      background:#ffffff;
      outline-style:solid;
      outline-width: thin;
      outline-color:#e6e6e6;
      margin-left: 80px;

      display:grid;
      grid-template-columns: 20% 80%;  /*divide screen into 5 equal columns*/
      grid-template-rows: 90px 60px 60px 60px 60px;/*sets height of rows*/
      grid-template-areas:/*designates areas to certain sections*/
      'hdt hdt'
      'art1 text1'
      'art2 text2'
      'ck text3'
      'lgt text4'
    }
#rec-heading{
  grid-area:hdt;
}
.art1{
  grid-area:art1;
  display:flex;
  justify-content: flex-end;
}
.text1{
  grid-area:text1;
  display:flex;
  justify-content:space-between;
}
.art2{
  grid-area:art2;
  display:flex;
  justify-content: flex-end;
}
.text2{
  grid-area:text2;
  display:flex;
  justify-content:space-between;

}
.check1{
  grid-area:ck;
  display:flex;
  justify-content: flex-end;
}
.text3{
  grid-area:text3;
  display:flex;
  justify-content:space-between;

}
.light{
  grid-area:lgt;
  display:flex;
  justify-content: flex-end;
}
.text4{
  grid-area:text4;
  display:flex;
  justify-content:space-between;

}

h4{
  font-size: 16px;
  font-family: myriad-pro, sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.3;
  text-align: left;
    }
h5{
  font-size: 10px;
  font-family: myriad-pro, sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.3;
  text-align: left;


}

    /*section for analytics*/
    #main-analytics{/*establishes location in maina, color, outline color and style, flex display for the text input (holding place for the images), aligns in the middle, text color*/
      grid-area:maina;
      background:#ffffff;
      outline-style:solid;
      outline-width: thin;
      outline-color:#e6e6e6;
      margin-right: 80px;

      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;  /*divide screen into 5 equal columns*/
      grid-template-rows: 90px 40px 40px 50px;/*sets height of rows*/
      grid-template-areas:/*designates areas to certain sections*/
      'hdt hdt hdt hdt'
      'title drop drop chn1'
      'grph grph grph chn1'
      'grph grph grph chn2'
      'grph grph grph chn2'
      'fb tw fr go'
    }


  h2, .hdt{
    grid-area:hdt;
      font-size: 32px;
      font-family: myriad-pro, sans-serif;
      color: rgb(36, 152, 244);
      text-align: left;
      font-weight:normal;
      padding-left: 5%;
      line-height: 1.2;
    }
    .a-title{
      grid-area:title;
    }
    #date{
      grid-area:drop;
      display:flex;
    }
    #bargraph{
      grid-area:grph;
      display:flex;

    }
    #piegraph1{
      grid-area:chn1;
      display:flex;

}
    #piegraph1{
      grid-area:chn2;
      display:flex;

    }
#fb{
  grid-area: fb;
  display: flex;
}
#tw{
  grid-area: tw;
  display: flex;
}
#fr{
  grid-area: fr;
  display: flex;
}
#go{
  grid-area: go;
  display: flex;
}









    #main-contacts{/*establishes location in mainc, color, outline color and style, flex display for the text input (holding place for the images), aligns in the middle*/
      grid-area: mainc;
      background:#ffffff;
      outline-width: thin;
      outline-color:#e6e6e6;
      outline-style:solid;
      display:flex;
      justify-content: center;
      align-content: center;
      margin-right: 80px;
    }
    /*section for "did you know?"*/
    #main-did-you-know{/*establishes location in maind, color, outline color and style, text color*/
      grid-area: maind;
      background:#2498f4;
      outline-width: thin;
      outline-color:#e6e6e6;
      outline-style:solid;
      color:#ffffff;
      margin-right: 80px;

    }
    /*section for footer*/
    #footer{/*establishes location in ft, color, outline color and style, flex display for the text input (holding place for the images), aligns in the middle*/
      grid-area:ft;
      background:#2498f4;
      outline-width: thin;
      outline-color:#e6e6e6;
      outline-style:solid;
      display:flex;
      justify-content: space-between;
      margin-left: 80px;
      margin-right: 80px;
    }





    /*still in process, set up here for next step, for changing screen sizes
    @media screen and (max-width:767px){
    .site{
    grid-template-columns: 1fr 2fr;
    grid-template-rows:
    'hd'
    'nv'
    'sd'
    'ft';
    grid-gap:3em;

  }
  .sidebar{
  grid-column: main;
  grid-row: main;
}
.main{
grid-column:side;
grid-row:side;
}

}
*/
/*Resources Used:

for stripes in nav bar: https://css-tricks.com/stripes-css/
for spritesheet: http://css.spritegen.com/
for Myriad Pro font: https://typekit.com/fonts/myriad/details/myriad-pro-light
for positioning: https://www.w3schools.com/cssref/pr_pos_z-index.asp
for fr:
https://alligator.io/css/css-grid-layout-fr-unit/
*/
